.Container {
  width: 100%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px) {
  .Container {
    max-width: 786px;
  }
}

@media (min-width: 960px) {
  .Container {
    max-width: 960px;
  }
}

@media (min-width: 1280px) {
  .Container {
    max-width: 1280px;
    padding: 0 35px;
  }
}
