.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  &_PostTweet {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
}
.BorderBottom {
  width: 100%;
  height: 1rem;
  background-color: rgba(204, 204, 204, 0.2);
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
